@tailwind base;
@tailwind components;
@tailwind utilities;

/* dialog::backdrop {
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: red;
} */

:root {
  font-family: "Lato", sans-serif;
}
